body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 10px;
}

/* FORM */

.form-section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

label {
  font-weight: bold;
  margin-top: 8px;
  display: block;
}

input {
  margin: 5px 0 10px 0;
  padding: 5px;
  width: 250px;
}

button {
  padding: 8px 16px;
  background: #0b1f3a;
  color: white;
  border: none;
  cursor: pointer;
}

/* REPORT - STRICT A4 */

.report {
  width: 210mm;
  height: 297mm;
  background: white;
  margin: auto;
  padding: 20mm;
  box-sizing: border-box;
  border: 8px solid #b68a2a;
  overflow: hidden;
  page-break-after: avoid;
}

/* HEADER */

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-side img {
  width: 80px;
}

.title-area {
  text-align: center;
  flex-grow: 1;
}

.title-eng {
  font-size: 22px;
  font-weight: bold;
}

.title-urdu {
  font-size: 20px;
  font-family: serif;
}

.exam-line {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}

/* STUDENT INFO */

.student-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  gap: 6px;
  font-size: 14px;
}

/* TABLE */

.section-title {
  margin-top: 15px;
  background: #0b1f3a;
  color: white;
  padding: 6px;
  text-align: center;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

th, td {
  border: 1px solid #888;
  padding: 5px;
  text-align: center;
}

th {
  background: #0b1f3a;
  color: white;
}

/* TOTAL BOX */

.total-box {
  margin-top: 10px;
  padding: 8px;
  border: 2px solid #0b1f3a;
  font-size: 14px;
}

/* SIGNATURE */

.signature-area {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

/* PRINT */

@media print {
  body {
    background: white;
  }
  .form-section {
    display: none;
  }
}
