body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 10px;
}

.form-section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

input {
  padding: 5px;
  width: 250px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background: #0b1f3a;
  color: white;
  border: none;
  cursor: pointer;
}

/* A4 FIXED */

.report {
  width: 210mm;
  height: 297mm;
  background: white;
  margin: auto;
  padding: 18mm;
  box-sizing: border-box;
  border: 8px solid #b68a2a;
  overflow: hidden;
}

/* HEADER */

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-side img {
  width: 75px;
}

.title-area {
  text-align: center;
  flex-grow: 1;
}

.title-eng {
  font-size: 20px;
  font-weight: bold;
}

.title-urdu {
  font-size: 18px;
}

.exam-line {
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

/* STUDENT GRID */

.student-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 12px;
  gap: 6px;
  font-size: 13px;
}

/* TABLE */

.section-title {
  margin-top: 12px;
  background: #0b1f3a;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th, td {
  border: 1px solid #888;
  padding: 4px;
  text-align: center;
}

th {
  background: #0b1f3a;
  color: white;
}

/* TOTAL */

.total-box {
  margin-top: 8px;
  padding: 6px;
  border: 2px solid #0b1f3a;
  font-size: 13px;
}

/* SIGNATURE */

.signature-area {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

@media print {
  body { background: white; }
  .form-section { display: none; }
}
